.myform {
    padding: 100px;
}

/*Товары*/
.list-product {
    padding-left: 15px;
    padding-bottom: 10px;
    font-size: 20px;
    width: 50%;
    max-width: 1000px;
    min-width: 300px;
}

.product-box {
    padding: 10px;
    margin: 10px;
    background: var(--OneBg);
    border: 3px solid var(--TwoBg);
    border-radius: 4px;
    font-size: var(--FontSize);

}

/*END Товары*/

/*Пагинатор*/
.pagination {
    text-align: center;
    margin: auto;
    width: 50%;
    font-size: 22px;
}

.href-item-product:link,
.href-item-product:visited,
.href-item-product:focus,
.href-item-product:hover,
.href-item-product:active {
    color: var(--FourColorText);
}

.product-photo {
    height: 400px;
    margin: 8px;
    background: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 4px;
}

.product-photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.bt-set-basket {
    display: inline-block;
    margin-top: 10px;
    border-radius: 24px;
    padding: 10px;
    border: var(--ThreeBg);
    background: var(--ThreeBg);
    color: var(--TwoColorText);
    font-size: 25px;
}
.bt-set-basket:hover{
    border: var(--TwoColorText);
    background: var(--TwoColorText);
    color: var(--ThreeBg);

}
.bt-delete-basket {
    display: inline-block;
    margin-top: 10px;
    border: var(--ColorError);
    border-radius: 4px;
    background: var(--ColorError);
}


.offer-page {
    padding: 10px;
    border: 3px solid var(--ThreeBg);
    background: var(--TwoBg);
    width: 60px;
    height: 60px;

}

.offer-page:hover {
    background: var(--OneBg);
    color: var(--OneColorText);
}

.select-offer-page {
    background: var(--OneBg);
}

/*END Пагинатор*/


/*О товаре*/
#all-price {
    text-align: right;
    padding: 30px;
    font-size: 32px;
}

.detail-photo {
    overflow: scroll;
    width: 500px;
    height: 500px;
}

.detail-photo img {
    width: 100%;
    height: auto;
}

.detail-product {
    padding: 40px 40px 300px;
}

.details_description {
    border: 3px solid var(--TwoBg);
    border-radius: 4px;
    padding: 10px;
    font-size: 23px;
    margin-top: 30px;
}

/*End о товаре*/


