/*Общее*/
:root {
    --FontSize: 23px;
    --OneColorText: #ffffff;
    --TwoColorText: #2ea44f;
    --ThreeColorText: #627597;
    --FourColorText: #c7cdce;
    --OneBg: #19253c;
    --TwoBg: #627597;
    --ThreeBg: #0c162d;
    --OneFontFamily: 'XO_Oriel_CN_Nu', serif;
    --ColorError: #f36c6c;
}

body {
    background: var(--OneBg);
    font-family: var(--OneFontFamily);
    color: var(--OneColorText);
    font-size: 16px;
    /*height: 100%;*/

    width: 100%;
}

.body {
    min-height: 1720px;
}

@font-face {
    font-family: 'XO_Oriel_CN_Nu';
    src: url('../fonts/XO_Oriel_CN_Nu.ttf') ;
}

@font-face {
    font-family: 'XO_Courser_Nu';
    src: url('../fonts/XO_Courser_Nu.ttf') ;
}

/*END Общее*/


/*Меню*/
.title-name {
    padding-left: 10px;
    background: var(--OneBg);
    color: var(--TwoColorText);
    font-family: var(--OneFontFamily);
}


.menu-box {

}

a {
    outline: none;
    text-decoration: none;
    color: var(--OneColorText);
}

.menu-item > a:link,
.menu-item > a:visited,
.menu-item > a:focus,
.menu-item > a:hover,
.menu-item > a:active {
    color: var(--OneColorText);
    font-size: var(--FontSize);
}

.menu-item:hover {
    text-decoration: underline;
}

.menu-item {
    display: inline-block;
    padding: 10px;
    margin: 3px;

}

.menu-item:hover {
    background: var(--TwoBg);
    border-radius: 4px;
}

/*END Меню*/


/*Подвал*/
footer {
    height: 60px;
    width: 100%;
    padding-top: 20px;
    margin-top: 30px;
    background: var(--ThreeBg);
    font-family: var(--OneFontFamily);
    color: var(--ThreeColorText);
    font-size: 16px;
    text-align: center;
}

/*End Подвал*/


/*Корзина*/
#basket-box {
    float: right;
    position: fixed;
    width: 200px;
    height: 100px;
    bottom: 0;
    right: 100px;
    border-radius: 30px 30px 0 0;
    background: var(--TwoBg);
}

#basket-box:hover {
    background: var(--TwoColorText);
}


#basket-content {
    font-size: 26px;
    padding-top: 30px;
    text-align: center;
    bottom: 10px;
}


#basket-link:hover {
    color: var(--OneColorText);
}

/*END Корзина*/
