{% load static %}
<div class="head-box">


    <h1 class="title-name"> Привет авантюрист</h1>


    <div class="menu-box">
        <div class="menu-item">
            <a href="{% url 'main_lent' %}">Товары</a>

        </div>
        <div class="menu-item">
            <a href="{% url 'basket' %}">Корзина</a>

        </div>


        {# Если пользователь авторизован то показываем Профиль и Выход #}
        {% if user.is_authenticated %}

            {# Если это профиль админа показываем кнопку админ панели #}
            {% if user.is_superuser %}
                <div class="menu-item">
                    <a href="{% url 'admin:index' %}">Админ панель</a>
                </div>
            {% endif %}

            <div class="menu-item">
                <a href="{% url 'profile_user' %}">Профиль</a>
            </div>
            <div class="menu-item">
                <a href="{% url 'logout_user' %}">Выйти</a>
            </div>

        {% else %}
            {# Если пользователь НЕ авторизован то показываем Вход и Регистрацию #}
            <div class="menu-item">
                <a href="{% url 'login_user' %}">Войти</a>
            </div>
            <div class="menu-item">
                <a href="{% url 'register_user' %}">Регистрация</a>
            </div>
        {% endif %}

    </div>

    <div style="display: inline;  padding-top: 10px;margin-top: -20px;margin-right: 100px;float: right; ">

        <a href="https://nginx.org/ru/docs/">
            <img src="{% static 'myapp/img/logo.jpg' %}"
                 style="width: 160px;height: 100px;  padding: 10px; border-radius: 40px"
                 alt="">
        </a>
        <a href="https://docs.gunicorn.org/en/stable/">
            <img src="{% static 'myapp/img/logo2.png' %}"
                 style="width: 300px;height: 100px;  padding: 10px;  border-radius: 40px"
                 alt="">
        </a>

        <a href="https://djbook.ru/rel3.0/">
            <img src="{% static 'myapp/img/logo3.png' %}"
                 style="width: 100px;height: 100px;  padding: 10px; border-radius: 40px"
                 alt="">
        </a>

    </div>


</div>