{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/myapp/css/main.css"/>
    <meta charset="UTF-8">
    <title>Django Проект</title>
    {# BootstrapCDN  #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    {# Стили для всей программы #}
    <link href="{% static 'myapp/css/main.css' %}" rel="stylesheet" type="text/css">
    {#    Стили для товаров #}
    <link href="{% static 'myapp/css/body.css' %}" rel="stylesheet" type="text/css">

    {#  Имена для кореткной работы JavaSrcipt #}
    <script>
        const UrlBasketServer = "{{ UrlBasketServer }}";
        const allProduct = "{{ allProduct }}"
        const NameFlagAppend = "{{ NameFlagAppend }}"
        const NameFlagDelete = "{{ NameFlagDelete }}"
        const NameSelectId = "{{ NameSelectId }}"
    </script>
    {# jquery   #}
    <script src="{% static 'myapp/js/jquery-3.6.0.min.js' %} " type="text/javascript"></script>
    {# Логика корзины #}
    <script src="{% static 'myapp/js/basket.js' %}" type="text/javascript" defer></script>
</head>

<body>
<header>
    {% include  "myapp/head.html" %}
</header>



<div class="body">
    {% block BODY %}
    {% endblock BODY %}
</div>



<a href="{% url 'basket' %}" id="basket-link">
    {% include  "myapp/basket_box.html" %}
</a>
</body>

<footer>
    {% include  "myapp/footer.html" %}
</footer>
</html>